h1, h2, h3, h4, h5, h6 {
    font-family: 'Indie Flower', cursive;
}

.navEtContenu {
    min-height: 100vh;
    margin-bottom: -140px;
}

footer, .footerAjustement {
    height: 140px;
}

.imgFB, .imgTwitter {
    height: 75px;
}

.imgYoutube {
    height: 25px;
}

@media only screen and (max-width: 768px) {
    .imgFB, .imgTwitter {
        height: 40px;
    }
    
    .imgYoutube {
        height: 20px;
    }
}

@media only screen and (max-width: 680px) {
    .imgFB, .imgTwitter {
        height: 30px;
    }
    
    .imgYoutube {
        height: 15px;
    }
}